body {
	overflow: hidden;
	padding-top: 1.5em;
}

/* Defining button */
#start {
	background-color: violet;
	width: 25%;
	height: 25%;
	font-size: 16px;
}


/*  Background image placed */
html{
	background: url("./img/sixpointstar.png") no-repeat center fixed;
	background-size: 95% 95%;
}



/* Setup box for click event */
div {
	border: 1px solid black;
	width: 1em;
	height: 1em;
	margin-right: auto;
	margin-left: auto;
	background-color: beige;
}

ul {
	text-align: center;
	padding: 0;
}


li {
	list-style-type: none;
	display: inline-block;
}

img {
	width: 1em;
	height: 1em;
}


/* Setup player tag */
.player {  

  list-style: none;  

  margin: -10em 0 0 40em;  

  border-top: solid 15px #fff;  

  border-left: solid 20px #fff;  

  position: relative;  

  width: 7em;  

}

/* Created to keep player tag on bottm right */
#placeHolder {
	width: 25%;
	height: 25%;
	visibility: hidden;
}

