body {
	overflow: hidden;
}

/*  Background image placed */
html{
	background: url("./img/sixpointstar.png") no-repeat center fixed;
	background-size: 95% 95%;
}



/* Setup box for click event */
div {
	border: 1px solid black;
	width: .8em;
	height: .8em;
	margin-right: auto;
	margin-left: auto;
}

ul {
	text-align: center;
	padding: 0;
}


li {
	list-style-type: none;
	display: inline-block;
}

img {
	width: 1em;
	height: 1em;
}

/* Layout with Flexbox */
/*ul {
  display: flex;
  justify-content: center;
}

ul li {
  padding: 0 8px;
  list-style-type: none;
}*/
  